@charset "utf-8";
/* CSS Document */
.z_pbg{ width:100%; background:#f6f6f6; font-family:"微软雅黑";}
.z_pmain{ width:1100px; margin:0 auto; padding:30px 0;}
.z_pmainleft{ width:218px; border:1px solid #dadada; float:left;}
.z_pmainleft dl{ width:218px;}
.z_pmainleft dl dt{ width:158px; padding-left:60px; height:40px; line-height:40px; font-size:16px; color:#666;}
.z_pmainleft dl dt img{ margin-right:14px;}
.z_pmainleft dl dd{ width:158px; height:38px; line-height:38px; padding-left:60px;border-top:1px solid #dadada;  font-size:14px; background:#fff;}
.z_pmainleft dl dd a{ display:block; width:158px;color:#666; background:url(../../images/personal/ico01.png) no-repeat left center; padding-left:32px;}
.z_pmainleft dl dd:hover{ background:#2084eb;}
.z_pmainleft dl dd a:hover{ color:#fff; text-decoration:none;background:url(../../images/personal/ico02.png) no-repeat left center;}
.z_pmainleft dl dd.z_hover{background:#2084eb;}
.z_pmainleft dl dd.z_hover a{ color:#fff; text-decoration:none;background:url(../../images/personal/ico02.png) no-repeat left center;}
.z_pmainright{ width:858px;border:1px solid #dadada;float:right; background:#fff;}
.z_paddress{ width:820px; padding:19px;}
.z_about{ margin-bottom:20px;}
.z_about h5{ font-size:16px; color:#333; font-family:"微软雅黑"; margin-bottom:10px;}
.z_about p{ font-size:12px; color:#666; font-family:"宋体"; line-height:24px; text-indent:2em;}
.z_gaoleft{ float:left; width:800px; border:1px solid #dadada;}
.z_gaoright{ float:right; width:260px;}
.z_gang{ width:760px; padding:30px 20px;}
.z_gongtitle{ width:760px; text-align:center; height:60px; border-bottom:1px dashed #e4e4e4; margin-bottom:14px;}
.z_gongtitle h5{ font-size:16px; color:#b80000; font-weight:600; margin-bottom:8px;}
.z_gongtitle span{ color:#666;}
.z_gang p{ font-size:14px; color:#666; line-height:28px; text-indent:2em; margin-bottom:16px;}
.z_hot{ width:258px; border:1px solid #dadada;}
.z_hot h6{width:248px; border-bottom:1px solid #dadada; height:40px; line-height:40px; padding-left:10px; background:#efefef; color:#2084eb; font-size:14px;}
.z_hot ul li{ border-top:1px dashed #dbdbdb; height:42px; line-height:42px;}
.z_hot ul li strong{ float:left; font-size:14px; color:#2084eb; margin-left:12px; margin-right:8px;}
.z_hot ul li p{ float:left;font-size:14px; color:#3c3c3c;}
.z_hot ul li em{ float:right;font-size:14px; color:#666;font-style:normal; padding-right:15px;}
.z_hot ul li em i{ font-style:normal; color:#2084eb;}
.z_hot dl{ width:258px; height:88px; margin:14px 0;}
.z_hot dl dt{ float:left; width:80px; height:84px; border:1px solid #dddddd; padding:2px; margin-left:10px; margin-right:10px;}
.z_hot dl dd{ float:left; width:144px;}
.z_hot dl dd span{ display:block; line-height:22px; color:#666;}


.tab{width:258px;border:1px solid #ccc; margin-bottom:30px;}
.tab ul.menu{height:34px;background:#f6f6f6;}
.tab ul.menu li{float:left;text-align:center;width:80px;height:32px;background:#f6f6f6;line-height:32px;list-style:none;font-size:12px;cursor:pointer;color:#232323; font-size:14px; }
.tab ul.menu li.active{ color:#2084eb;}
.con1,.con2,.con3{border-top:1px solid #ccc;margin-top:-2px;}
.con2,.con3{display:none;}
.con1 ul,.con2 ul,.con3 ul{padding:5px;}
.con1 ul li,.con2 ul li,.con3 ul li{ width:224px; height:38px; line-height:38px; border-bottom:1px dashed #dbdbdb; background:url(../../images/other/ico05.jpg) 8px center no-repeat; padding-left:24px; overflow:hidden; }
.con1 ul li:hover,.con2 ul li:hover,.con3 ul li:hover{cursor:pointer;text-decoration:none;}
.con1 ul li a,.con2 ul li a,.con3 ul li a{color:#3c3c3c;}
.z_yema{ text-align:center; margin-top:26px; padding-bottom:30px;}
.z_yema span a{ display:inline-block; width:34px; height:34px; border:1px solid #dedede; background:#fff; text-align:center; line-height:34px; color:#3d3d3d;}
.z_yema span a.z_a2{ width:45px;}
.z_yema span a.z_a3{ width:68px;}
.z_yema span a:hover{ color:#fff; background:#2084eb; text-decoration:none;}
.z_yema span a.z_abg{color:#fff; background:#2084eb;}
.z_dianzi{ width:1098px; border:1px solid #d9d9d9; background:#fff;}
.z_dianzi3,.z_dianzi2{ width:1060px; margin:20px auto 0; clear:both;}
.z_dianzi3 dt{ width:1058px; height:32px; line-height:32px; border:1px solid #d9d9d9; background:#f5f7f7;}
.z_dianzi3 span{ float:left; color:#333; padding-left:10px; font-size:12px; font-family:"微软雅黑";}
.z_width01{ width:238px;}
.z_width02{ width:158px;}
.z_width03{ width:410px;}
.z_dianzi3 dd{ height:52px; line-height:52px; border-bottom:1px dashed #d9d9d9;}
.z_dianzi3 span.z_color{ color:#2084eb; font-size:16px;}
.z_dianzi2 form span{ display:inline-block; width:170px; height:30px; border:1px solid #d9d9d9; border-radius:3px;}
.z_dianzi2 form span input{ border:none; background:none;}
.z_dianzi2 form span input.z_input22{ background:url(../../images/other/sou.png) no-repeat center center; width:30px; height:30px;}
.z_dianzi2 form span input.z_input11{ width:140px; height:30px; outline:none;}
.z_diantitle{ width:1058px; height:40px; line-height:40px; border:1px solid #d9d9d9; background:#f5f7f7; margin-bottom:20px;}
.z_diantitle a{ float:left; width:164px; font-size:16px; text-align:center; color:#2084eb;}
.z_diantitle a.z_bg{ background:#2084eb; color:#fff;}
.z_dianzi1{ width:1058px; height:300px; margin:30px auto 40px auto;}
.z_dianzi1 dl dt{ width:340px; height:290px; border:1px solid #d9d9d9; padding:5px; float:left;}
.z_dianzi1 dl dd{ width:670px; float:right;}
.z_dianzi1 dl dd h6{ font-size:18px; color:#030303;}
.z_dianzi1 dl dd li{ height:40px; line-height:40px; width:670px;}
.z_dianzi1 dl dd li span{ float:left; width:80px;}
.z_dianzi1 dl dd li p{ float:left;}




.dyk_t{ width:1058px; padding:20px; height:288px;}
.dyk_tl{ width:340px; padding:4px; border:1px solid #dbdbdb; height:290px; float:left;}
.dyk_tc{ width:655px; float:left; margin-left:15px;}
.dyk_tc1{ width:100%; height:40px; font-size:18px; font-family:"微软雅黑"; color:#333;}
.dyk_tc2{ width:100%; height:40px; font-size:14px; font-family:"微软雅黑"; }
.dyk_tc2 .q1{ width:80px; float:left; height:40px;}
.dyk_tc3{ width:100%; height:40px; padding-top:5px; padding-bottom:5px;  }
.dyk_tc3 .p0{ width:80px; height:30px; line-height:30px; float:left; font-size:14px; font-family:"微软雅黑"; text-align:left; color:#444;}
.dyk_tc3 .p1{ width:29px; height:30px; line-height:30px;float:left; cursor:pointer; border:1px solid #dbdbdb; text-align:center;}
.dyk_tc3 .p2{ width:68px; height:30px; float:left;  text-align:center; border:1px solid #dbdbdb; border-left:0px; border-right:0px;}
.dyk_tc3 .p2 input{ width:68px; height:26px; background:none; border:0px; text-indent:5px; outline:none;}
.dyk_tc3 .p3{ width:29px; height:30px; line-height:30px; float:left; cursor:pointer; text-align:center;border:1px solid #dbdbdb;}
.dyk_tc3 .p4{ width:120px; height:30px; line-height:30px; float: left; font-family:"微软雅黑"; font-size:14px; color:#656565; padding-left:8px;}
.dyk_tc4{ width:100%; height:40px; line-height:40px; padding-bottom:8px;}
.dyk_tc4 .p1{width:80px; height:40px;  float:left; font-size:14px; font-family:"微软雅黑"; text-align:left; color:#444;}
.dyk_tc4 .p2{ width:55px; height:30px; line-height:30px; float:left;}
.dyk_tc4 .p2 select{ width:50px; height:26px; border:1px solid #dbdbdb; outline:none;}

.dyk_tc4 .p3{  height:30px; line-height:30px; width:320px; float: left; font-size:12px; color:#656565; }


.dyk_tc5{ width:120; height:32px; float:left; }
.dyk_tc5 input{ width:80px; height:32px; border:0px;background:url(../../images/dy/an4.png) no-repeat left top; background-size:100% 100%; color:#fff; font-family:"微软雅黑"; font-size:16px;}



.dyk_str6{ width:204px; height:16px; text-align:left; padding-top:5px; float:left; margin-left:30px;}
.dyk_str6 .p1{height:16px;line-height:16px; display:inline-block; color:#888;}
.dyk_str6 a{height:16px; display:inline-block;}

.dyk_stc2{ width:100%; height:40px; font-size:14px; font-family:"微软雅黑"; }
.dyk_stc2 .q1{ width:80px; float:left; height:40px;}
.dyk_stc2 .q2{ width:90px; text-align:center; line-height:28px; height:28px; border:1px dotted #dbdbdb; float:left; margin-left:12px;}


.dyk_qtc5{ width:100%; height:40px;}

.z_diantitle1{ width:1058px; height:35px; padding-top:5px; padding-bottom:5px;}
.z_diantitle1 .p1{ width:130px; height:35px; float:left;}
.z_diantitle1 .p1 select{ width:120px; height:33px; border:1px solid #dbdbdb; outline:none; background:url(../../images/by/ioc2.png) no-repeat center center;}
.z_diantitle1 .p2{ width:200px; height:32px; float:left; border:1px solid #dbdbdb; background:none;}
.z_diantitle1 .p2 .z_input11{ width:160px; height:30px; float:left; outline:none; border:0px; background:none;}
.z_diantitle1 .p2 .z_input22{ width:36px; height:30px; float:left; outline:none; border:0px; background:none;background:url(../../images/dy/ioc2.png) no-repeat center center; cursor:pointer;}





