@charset "utf-8";
/*首页*/
/* 头部 */
.header{ width:100%; height:222px;}
.head{ width:1030px; height:222px; margin:0 auto;}
/* banner */
.focusBox { position: relative; width:100%;margin:0 auto height:494px; overflow: hidden; border-top:3px solid #e2ac6b;}
.focusBox .pic{ position:relative; z-index:0; }
.focusBox .pic img { width:1920px; height:494px; position:relative; left:50%; margin-left:-960px; display: block; }
.focusBox .hd { width:100%; position: absolute; bottom: 10px; text-align: center; font-size:0; z-index:1; }
.focusBox .hd li{margin: 0 5px; background: url(../images/dot.png) no-repeat 0 -16px; height: 16px; overflow: hidden; width: 16px; cursor: pointer;	display:inline-block; *display:inline; zoom:1;  _background: url(../images/dot.png) no-repeat 0 -16px;}
.focusBox .hd .on{ background-position:0 0; }
.focusBox .prev,.focusBox .next { width: 60px; height: 90px; margin: -60px 0 0; display: none; background: url(../images/ad_ctr.png) no-repeat 0 0; position: absolute; top: 50%; z-index: 10; cursor: pointer; text-indent: -9999px; filter:alpha(opacity=20);opacity:0.2;  }
.focusBox .prev { left: 0; }
.focusBox .next { background-position: 0 -90px; right: 0; }
.focusBox .prev:hover,
.focusBox .next:hover { filter:alpha(opacity=50) !important;opacity:0.5 !important;  }
/* nav */
.navall{ width:100%; height:66px; background:url(../images/nav_line.png);}
.nav{ width:1030px; margin:0 auto; overflow:hidden;}
.nav a{ float:left; color:#e5b97c; font-size:14px; text-align:center; width:114px; height:48px; padding-top:18px;}
.nav a:hover{ background:url(../images/nav_hover.png);}
.nav em{ font-size:12px; display:block; text-align:center; margin-top:6px;}
/* main */
.main{ width:1030px; margin:30px auto 60px auto; overflow:hidden;}
/*标题*/
.tit{ width:1030px; height:156px; background:url(../images/dh01.png) no-repeat;}
.tit h3 a{ float:left; color:#ffe491; font-size:18px; margin:62px 0 0 67px;}
.tit h4{ float:left; color:#dba96a; margin:74px 0 0 286px; font-size:14px;}
.tit h5{ float:left; color:#dba96a; font-size:14px; margin:74px 0 0 82px;}
/*关于本店*/
.abcon{ height:375px; background:url(../images/ab_bg.png) no-repeat; margin-top:20px;}
.pcon01{ overflow:hidden; border:1px solid #e5b67f; margin:55px 0 0 72px;}
.pcon02{ margin:55px 0 0 22px;}
.pcon02 p{ width:560px; font-size:14px; color:#c69e6c; line-height:24px; text-indent:2em;}
/*视频、新闻*/
.scon{ height:532px; background:url(../images/n_bg.png) no-repeat; margin:30px auto;}
.mv{ margin:58px 0 0 64px; width:442px;}
.scon h4{ width:169px; height:67px; margin:0 auto 20px auto; background:url(../images/tie.png) no-repeat; color:#c69e6c; font-size:16px; text-align:center; line-height:66px;}
.ship{ border:3px solid #a37f52; width:435px;}
.news{ margin:58px 64px 0 0; width:442px;}
.news ul li{ width:442px; height:35px; background:url(../images/line.jpg) no-repeat bottom; line-height:35px;}
.news ul li a i{ float:left; width:4px; height:6px; background:url(../images/new_dian.jpg) no-repeat; margin:16px 10px 0 0;}
.news ul li a b{ float:left; font-size:14px; color:#c69e6c; font-weight:100;}
.news ul li a em{ float:right; color:#c69e6c;}
/*纹身欣赏*/
.picScroll{position:relative; width:1030px; height:294px; overflow:hidden; margin:20px 0 30px 0;}
.picScroll .prev,.picScroll .next{ display:block; position:absolute; top:100px; left:0px; width:58px; height:117px; background:url(../images/btn_left.png) no-repeat;}
.picScroll .next{ left:auto; right:1px; background:url(../images/btn_right.png) no-repeat;}
.picScroll ul{ overflow:hidden; zoom:1; width:980px;}
.picScroll ul li{ width:234px; height:286px; background:url(../images/picbg.png) no-repeat; float:left; overflow:hidden; margin-right:20px; padding:4px;}
.picScroll ul li img{ width:234px; height:286px; display:block;}
.tempWrap{ width:1030px !important; margin:0 auto;}
/*纹身作品*/
.pict{ margin-left:-20px; overflow:hidden;}
.pict ul li{ float:left; padding:4px; background:url(../images/picbg.png) no-repeat; margin:20px 0 0 20px;}
.pict ul li img{ width:234px; height:286px; display:block;}
/*底部*/
.weix{ width:632px; height:341px; margin:0 auto ;}
.weix img{ float:left; margin-left:10px;margin-right:10px;}
.footer{ width:100%; height:159px; background:url(../images/foot_bg.png); margin-top:60px;}
.foot{ width:1030px; margin:0 auto; padding-top:20px;}
.foot p{ text-align:center; color:#b49269; line-height:24px;}


/*其他页面*/
/*关于本店页面*/
.d_tit{ margin:30px 0 20px 0;}
.d_tit h4{ color:#d19c59; font-size:14px; width:227px; height:54px; margin:0 auto; background:url(../images/a_bg.png) no-repeat center; text-align:center; line-height:54px;}
.d_con p{ color:#a95c42; line-height:28px; text-indent:2em; font-size:14px;}
.d_dianm{ width:686px; margin:auto; margin-bottom:-20px;}
.d_dianm img{ margin-bottom:20px;}
.d_people{ width:696px; margin:0 auto; overflow:hidden;}
.d_people dl{ float:left; margin-right:10px;}
.d_people dl dd{ text-align:center; font-size:14px; color:#c87954; margin-top:10px;}
.d_shouf{ width:662px; margin:0 auto; border:1px dashed #be7e52; overflow:hidden; padding:30px 12px 0 12px;}
.d_shouf ul li{ float:left; margin-bottom:30px;}
.d_shouf ul li img{ margin-top:6px;}
.d_shouf ul li p{ width:506px; font-size:12px; color:#c87954; margin-left:10px; line-height:24px;}
/*大唐作品页面*/
.w_con{ margin:20px 0 0 0; overflow:hidden;}
.w_con a{ float:left; width:150px; height:45px; background:url(../images/xtb.png) no-repeat; text-align:center; line-height:44px; font-size:14px; color:#c69e6c; margin-left:18px; margin-bottom:15px;}
.w_con a:hover{ color:#fff;}
/*页数*/
.yeshu{ clear:both; width:1030px; margin:30px auto 30px auto; overflow: hidden; padding-left:346px;}
.yeshu a{ padding:10px 12px; border:1px solid #ebc86a; float:left; color:#b5845c; margin-right:10px;}
.yeshu a:hover{ color:#fff;}
/*大唐作品 内页*/
.Mtime{ width:1030px; height:716px;  overflow:hidden; position:relative;}
.Mtime .prev,.Mtime .next{ width:54px; height:117px; clear:both; cursor:pointer; position:absolute; left:0px; top:300px; background:url(../images/btn_left.png) no-repeat;}
.Mtime .next{ width:54px; left:auto; right:0px; background:url(../images/btn_right.png) no-repeat;}
.Mtime .tempWrap{ margin-left:140px; }
.Mtime .MtimeCon{ width:1030px; height:100%;     }
.Mtime .tabBox{ overflow:hidden; zoom:1; width:1030px; }
.Mtime .tabBox .bd{ width:520px;  float:left;  }
.Mtime .tabBox .bd li{ overflow:hidden; zoom:1; }
.Mtime .tabBox .bd .imgs{ float:right;  }
.Mtime .tabBox .hd{ width:210px; float:left;margin-left:20px;}
.Mtime .tabBox .hd li{  cursor:pointer; vertical-align:middle;}
.Mtime .tabBox .hd a{display:block; height:222px; width:204px; overflow:hidden; border:3px solid #937f4a; margin-bottom:15px;}
.Mtime .tabBox .hd img{ width:204px; height:222px;}
.Mtime .tabBox .hd li.on a{ border:3px solid #ebc86a;}
/*洗纹身页面*/
.wash span{ display:block; width:627px; margin:20px auto;}
.wash p{ color:#c69e6c; font-size:14px; text-indent:2em; line-height:30px;}
/*纹身资讯页面*/
.newa{ margin-top:20px; overflow:hidden;}
.newa dl dt{ float:left;}
.newa dl dd{ float:right;}
.newa dl dd ul li{ width:604px; height:38px; line-height:38px; border-bottom:1px dashed #973d32;}
.newa dl dd ul li a{ color:#c69e6c;}
.newa dl dd ul li a em{ float:right; color:#c69e6c;}
/*纹身资讯 内页*/
.newny h4{color:#c69e6c;; font-size:16px; text-align:center; margin:20px 0;}
.newny p{ font-size:14px; line-height:26px; text-indent:2em; color:#c69e6c;}
/*纹绣穿刺页面*/
.picd{ margin-left:-20px; overflow: hidden;}
.picd ul li{ float:left; width:234px; height:156px; padding:4px; background:url(../images/bk.png) no-repeat; margin:20px 0 0 20px;}
/*培训学员页面*/
.train p{ font-size:14px; line-height:30px; color:#a95c42;}
/*联系我们页面*/
.contact h4{ font-size:16px; text-align:center; color:#c69e6c; margin:20px 0;}
.contact p{ color:#c69e6c; font-size:14px; line-height:26px; text-indent:2em;}
/*在线留言*/
.con_talk{ margin-top:30px;}
.con_talk h4{ text-align:center; font-size:16px; color:#c69e6c;}
.con_talk form{ width:410px; margin:26px auto 0 auto;}
.con_talk div{ overflow:hidden; margin-bottom:18px;}
.con_talk div span{ float:left; margin:7px 10px 0 0; font-size:14px; color:#b4815b;}
.con_talk div textarea{ float:left; width:330px; height:100px; background:none; border:1px solid #b4815b; color:#c69e6c;}
.con_talk div input{ float:left; width:330px; height:36px; background:none; border:1px solid #b4815b;}
.con_talk div em{ float:left; color:#F00; margin:7px 0 0 6px; font-size:14px;}
.con_talk div.btn{ margin-left:60px;}
.con_talk div.btn input{ float:left; width:84px; height:38px; background:#d9bfc3; border:1px solid #dedede; margin-left:46px; cursor:pointer;}
body{margin:0;padding:0;font-family:Times New Roman, serif}
p{margin:0;padding:0}
#map_container{height:80%; border: 1px solid #999;height:400px;margin:5px;}
.BMap_cpyCtrl{display: none!important;}
@media print{
  #notes{display:none}
  #map_container{margin:0}
}


















