@charset "utf-8";
/*header*/
.header{ width:1030px; margin:0 auto; height:102px;}
.logo{ width:308px; text-align:center; padding-top:16px;}
.header_right{ width:470px; height:102px; background:url(../images/tel.png) left center no-repeat;}
.header_right .shoucang{ width:193px; height:16px; margin-left:264px; margin-top:24px;}
.header_right .shoucang a{ float:left; height:16px; line-height:18px; color:#0c0306; font-size:12px; font-family:"微软雅黑";}
.header_right .shoucang a.index{ background:url(../images/ico01.png) no-repeat left center; padding-left:20px;}
.header_right .shoucang a.shou{ background:url(../images/ico02.png) no-repeat left center; padding-left:16px; margin-left:20px;}
.header_right .tel{ margin-left:207px; font-family:"微软雅黑"; font-size:18px; color:#555; margin-top:24px;}
/*nav*/
.nav{ width:100%; height:59px;  background:url(../images/nav_bg.jpg) repeat-x;}
.nav ul{ width:1030px; margin:0 auto;}
.nav ul li{ float:left;}
.nav ul li a{ float:left;width:114px; height:59px; text-align:center; font-family:"微软雅黑"; color:#0c0306;}
.nav ul li a span{ display:inline-block; margin-top:14px; font-size:14px;}
.nav ul li a i{ display:block; font-style:normal; line-height:26px; font-family:Arial; font-size:12px;}
/*banner*/
.banner{ width:1030px; margin:0 auto;}
/*main*/
.main{ width:1030px; margin:20px auto; font-family:"微软雅黑";}
.left{ width:300px; border:1px solid #eee; background:#f8f8f8;}
.left h2{ width:300px; height:70px; line-height:70px; font-size:26px; background:#dedede; text-align:center; font-weight:normal;}
.left ul{ width:280px; margin-left:10px; margin-top:10px; padding-bottom:50px;}
.left ul li{ width:280px; height:42px; line-height:42px; border-bottom:1px dashed #8c8c8c;}
.left ul li a{ background:url(../images/ico03.png) no-repeat 85px center; padding-left:100px; font-size:16px;}
.left dl dt img{ margin-left:10px; margin-top:10px;}
.left dl dd{ font-size:14px; color:#4d4d4d; padding:14px; line-height:30px;}
.right{ width:700px;}
.fnav{ width:700px; height:38px; line-height:38px; background:#f8f8f8;}
.fnav h6{ float:left; padding-left:20px; color:#333; font-size:16px;}
.fnav span{ float:right; padding-right:20px; font-size:12px;}
.right_con{ padding:20px; text-align:center;}
.right_con p{ font-size:14px; line-height:28px; text-align:left;}

/*footer*/
.footer{ width:100%; height:100px; background:url(../images/footer_bg.jpg) repeat-x;}
.footer_mid{ width:1030px; margin:0 auto;}
.footer_left{ margin-top:18px;}
.footer_left p{ line-height:24px; font-family:"宋体"; font-size:12px; color:#666;}
.footer_right img{ margin-top:20px;}
/*news*/
.news{ padding:10px; font-family:"微软雅黑";}
.news li{ width:680px; height:34px; line-height:34px; border-bottom:1px dashed #ddd;}
.news li a{ float:left; width:430px; background:url(../images/ico04.png) no-repeat left center; margin-left:10px; padding-left:14px; font-size:14px; color:#666;}
.news li span{ float:right; padding-right:10px; font-size:12px; color:#999;}
.yema{ width:700px; text-align:center; margin-top:30px;}
.yema a{ padding:4px 10px; border:1px solid #ddd; background:#f8f8f8;}
.yema a.curr,.yema a:hover{ background:#757575; color:#fff;}
/*新闻详情页*/
.news_detail{ width:660px; margin:0 auto;}
.news_title{ width:660px; height:80px; border-bottom:1px dashed #ddd; text-align:center; margin-bottom:20px;}
.news_title h4{ color:#5c5959; font-size:20px; padding-top:16px; line-height:34px;}
.news_title span{ color:#999; font-size:12px;}
.news_detail p{ line-height:26px; font-size:12px; color:#999;}
/*纹眉漂唇*/
.piaochun dl{ width:320px; height:174px; text-align:center; float:left; margin-left:20px; margin-top:20px;}
.piaochun dl dd{ font-size:12px; color:#333; height:24px; line-height:24px;}
/*人体穿刺*/
.piaochun li{ float:left; margin-left:9px; margin-top:20px;}
/*联系我们*/
.news_con h4{ font-size:16px; color:#000; text-align:center; margin-bottom:24px;}
.news_con p{ font-size:14px; color:#333; text-indent:2em; line-height:28px;}
.news_con span{ display:block; margin:18px 0 40px 0;}
/*纹身图库*/
.tuku dl{ width:155px; text-align:center; float:left; margin-top:20px; margin-left:16px;}
.tuku dl dd{ line-height:30px;}
/*关于本站*/
.about{ width:700px; text-align:center;}
.about h3{ color:#333; font-size:20px; line-height:50px;}
.about ul li{ float:left; margin-left:8px; margin-bottom:10px;}
/*放大*/
.tuku{ margin-left:100px;}
.ban{ width:700px; height:800px; position:relative; overflow:hidden;margin:40px auto 0 auto;}
.ban2{ width:500px; height:500px; position:relative; overflow:hidden;}
.ban2 ul{ position:absolute; left:0; top:0;}
.ban2 ul li{ width:500px; height:500px;}
.prev{ float:left; cursor:pointer;}
.num{ height:82px;overflow:hidden; width:430px; position:relative;float:left;}
.min_pic{ padding-top:10px; width:500px;}
.num ul{ position:absolute; left:0; top:0;}
.num ul li{ width:80px; height:80px; margin-right:5px; padding:1px;}
.num ul li.on{ border:1px solid red; padding:0;}
.prev_btn1{ width:16px; text-align:center; height:18px; margin-top:40px; margin-right:20px; cursor:pointer; float:left;}
.next_btn1{  width:16px; text-align:center; height:18px; margin-top:40px;cursor:pointer;float:right;}
.prev1{ position:absolute; top:220px; left:20px; width:28px; height:51px;z-index:9;cursor:pointer;}
.next1{ position:absolute; top:220px; right:20px; width:28px; height:51px;z-index:9;cursor:pointer;}
.mhc{ background:#000; width:100%;opacity:0.5;-moz-opacity:0.5;filter:alpha(Opacity=50); position:absolute; left:0; top:0; display:none;}
.pop_up{ width:500px; height:500px; padding:10px; background:#fff; position:fixed; -position:absolute; left:50%; top:50%; margin-left:-255px; margin-top:-255px; display:none; z-index:99;}
.pop_up_xx{ width:40px; height:40px; position:absolute; top:-40px; right:0; cursor:pointer;}
.pop_up2{ width:500px; height:500px; position:relative; overflow:hidden;}
.pop_up2{ width:500px; height:500px; position:relative; overflow:hidden; float:left;}
.pop_up2 ul{ position:absolute; left:0; top:0;}
.pop_up2 ul li{ width:500px; height:500px; float:left;}
/*首页*/
/*手风琴*/
.shoufen{ width:1030px; margin:0 auto;}
.fold_wrap{width:1030px;height:260px;margin:0px auto 0 auto;overflow:hidden;}
.fold_wrap li{float:left;width:130px;height:260px;position:relative;overflow:hidden;cursor:pointer;}
.fold_wrap li .mask_b{position:absolute;overflow:hidden;width:100%;height:100%;left:0;top:0;background:rgba(0,0,0,.3);_background:#B2B2B2;}
.fold_wrap li.active .mask_b{background:none;}
.fold_wrap li .mask_b h4{color:#fff;width:30px;margin:0 auto;display:block;font:30px/30px Microsoft Yahei;position:relative;padding:30px 0 0 0;}
.fold_wrap li.big{width:322px;}
.fold_wrap li .adv_intro{ width:92%; height:40px; padding:5px 4%; position:absolute;left:0; bottom:-50px;background:#37D; color:#FFF; overflow:hidden;}
.adv_intro_show{bottom:0 !important; transition:bottom 0.3s linear 0.3s; -webkit-transition:bottom 0.3s linear 0.3s;}
.pic_auto{width:100%;height:100%;}
/*公司简介*/
.company{ width:670px; height:380px; float:left; font-family:"微软雅黑";}
.company_con{ height:300px;box-shadow:0 0 12px #e1e1e1; padding:16px 20px; font-size:14px; line-height:28px; color:#333;}
.company_con p{ text-indent:2em;}
.company_con img{ display:block; margin-left:60px;}
.contact{ width:340px; height:380px; float:right;font-family:"微软雅黑";}
.company h3,.contact h3{ font-size:18px; color:#000; height:40px; line-height:40px; margin-left:20px;}
/*注意事项*/
.zhuyi{ width:1030px; margin:30px auto 20px; font-family:"微软雅黑";}
.zhuyi h2{ height:37px; line-height:37px; background:url(../images/zhuyi.png) no-repeat left center; font-size:14px; padding-left:10px; color:#000; margin-bottom:-1px;}
.zhuyi_con{ width:950px; height:137px; background:url(../images/zhuyi_bg.png) no-repeat top center; padding:30px 40px;}
.zhuyi_con p{ font-size:14px; color:#333; line-height:24px;}
/*洗纹身*/
.wenshen{ width:1030px; margin:30px auto; font-family:"微软雅黑";}
.wenshen_title{ width:1030px; height:66px; background:url(../images/xiwenshen_bg.png); margin-bottom:20px;}
.wenshen_title h5{ height:66px; background:url(../images/ico05.png) no-repeat left center; margin-left:30px; padding-left:66px; color:#4f4d4d; font-size:18px; line-height:66px;}
.shipin{ width:446px; margin-left:20px;}
.quwenshen{ width:540px; padding-left:20px;font-family:"微软雅黑";}
.quwenshen dl{ margin-bottom:10px;}
.quwenshen dt{ color:#a20000; font-size:16px; line-height:22px;font-family:"微软雅黑";}
.quwenshen dd{ color:#4d4d4d; font-size:12px; text-indent:1em; margin-top:4px; line-height:24px;font-family:"微软雅黑";}
/*滚动*/
.gundong{ width:1030px; margin:0 auto;}
.gundong_title{ width:1030px; height:50px; line-height:50px; background:url(../images/line.png) no-repeat center center; text-align:center;}

.apply{ width:1030px;}
.apply_array{width:180px;float:left;height:280px;margin-right:6px;}
.apply_array .vote{position:absolute;line-height:26px;margin-top:10px;padding-left:29px;width:83px;display:block;background:url(imgs/vote.gif) no-repeat 0px 0px;height:26px;color:#282828;margin-left:-6px;text-decoration:none;}
.apply_last{margin-right:0px}
.apply_img{text-align:center;width:100px;display:table-cell;background:#e2e2e2;height:100px;font-size:95px;vertical-align:middle}
.apply_array a{text-decoration:underline}
.apply_array a:hover{color:#e01111}
.apply_info{text-align:center;padding:15px;}
.apply_comment{text-align:center}
.apply_info a{line-height:17px;font-weight:700}
.apply_nav{position:relative;width:925px;float:left;height:280px;overflow:hidden}
.apply_w{position:absolute;margin-top:0px;width:1000px;float:left;left:0px}
.apply .img_l{padding:122px 12px 0 12px;float:left;cursor:pointer;}
.apply .img_r{padding:122px 12px 0 12px;float:left;cursor:pointer;}
/*联系我们*/
.contacta{ margin-top:30px;}
